@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a; /* Ciemny szary zamiast czarnego */
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Nowa klasa dla delikatniejszego neonu */
.soft-glow {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

.soft-glow:hover {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}